.DS_Store
*.xcuserstate
*.xcuserdata
Documents.pub
Secrets.plist
__pycache__/
venv/
.env

#iOS build artifacts
*.xcarchive/
*.car
*.mobileprovision
PkgInfo
CodeResources
PrivacyInfo.xcprivacy
*.ipa
exportOptions.plist
buildServer.json